<!-- Create a jumbotron -->
<div class="jumbotron" style="background:url(https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/31195701_112946699566763_1803337145446285789_n.jpg?_nc_cat=0&oh=b50a62f1ede25e7b7ec9a24ce7b51dbf&oe=5B54805F); background-repeat: no-repeat; background-size: cover; color:white">
    <!-- create a large margin on both sides of the page -->
    <div class="container">
        <!-- Make a title and 2 subtitles -->
        <h1 class="display-3">Vote for the best doctor!</h1>
        <p class="lead">Please select your choice for best 'doctor' to rule them all!</p>
        <hr class="my-4">
        <p>Use this page to vote the best ruler to govern over this mess!</p>

        <!-- Create a grid for sizing and aligning cards -->
        <div class="row" style="margin: 10px">

            <!-- Make a card that is 4/12 of the container wide, size some pictures and format title, text for each card -->
            <div class="card col-4">
                <div class="card-body text-center" style="background-color:white; color:black;">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/16/Drevil_million_dollars.jpg/200px-Drevil_million_dollars.jpg" style="width: 25%; float:left" />
                    <h5 class="card-title">Dr Evil</h5>
                    <span style="width: 100px">
                        Dr Evil is not a nice cat who believes that mice should have voting rights.
                    </span>
                </div>
            </div>

            <!-- Have a blank div in the middle to distance the cards -->
            <div class="col-4"></div>

            <!-- the other cat -->
            <div class="card col-4">
                <div class="card-body text-center" style="background-color:white; color:black;">
                    <img src="https://pbs.twimg.com/profile_images/911247594306682880/gY5-m626.jpg" style="width: 25%;float: left" />
                    <h5 class="card-title">Doctor Disrepect</h5>
                    <span style="width: 100px">
                        Doctor Disrepect, the 1992 - 1993 blockbuster video game champion.
                    </span>
                </div>
            </div>

            <div class="card col-4">
                <div class="card-body text-center" style="background-color:white; color:black;">
                    <img src="http://asset-manager.bbcchannels.com/i/2f63n0000001000" style="width: 25%;float: left" />
                    <h5 class="card-title">Doctor Who</h5>
                    <span style="width: 100px">
                        Doctor Who believes strongly in the congeniality of all living kind.
                    </span>
                </div>
            </div>
                        <!-- Have another blank div in the middle to distance the cards -->
            <div class="col-4"></div>

            <div class="card col-4">
                <div class="card-body text-center" style="background-color:white; color:black;">
                    <img src=" https://media.immediate.co.uk/volatile/sites/3/2017/08/127632.jpg?quality=90&resize=620,413" style="width: 25%;float: left" />
                    <h5 class="card-title">Doc Martin</h5>
                    <span style="width: 100px">
                        Doctor Martin makes funny brittish humor totally.
                    </span>
                </div>
            </div>

           
        </div>

        <!-- end the bootstrap row flow, divs will now flow under instead of to the left -->
        <br />

        <!-- lets put in a button for learn more that does nothing. -->
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="# " role="button0 ">Learn more!</a>
        </p>
    </div>
</div>